# Server Config
PORT=4000

# Base de datos
DATABASE_URL=postgresql://saas_admin:saas_secure_password@localhost:5432/saas_dev?schema=public

# Redis cache & queues
REDIS_URL=redis://localhost:6379

# JWT Auth
JWT_SECRET=saas_jwt_super_secret_key_development_only

# MinIO / S3 Storage
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_secure_password
